*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 thead, th,td{
    background-color: rgb(59, 59, 145);
    width: 80rem;
    height: 3rem;
    border-radius: 20px;
    color: white;
    font-family: arial;
    font-size: .9rem;
  
}
tr img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;

}
table ,td,th{
    padding: 1rem;
}
td{
    align-items: center;
    color: #000;
    font-size:1rem    ;
}
  td{
    margin-left:5rem;
}
tbody i{
    font-size: 1.5rem;
    color: #000;
    opacity: 0.7;
}



 